.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  margin-top: -4px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__links-list-item {
  text-underline-offset: 4px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  margin-top: 2.5px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  padding: 0 37px;
  margin-top: -4px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 162px 50px 50px;
  margin-top: -4px;
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  display: block;
  text-align: left;
  line-height: 115px;
  padding: 1px 0 0;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 100px;
  padding: 19px 0 0 30px;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100px;
  padding-top: 18px;
  margin-right: -30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  gap: 78px;
  padding-top: 104px;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 19px;
  font-size: 22px;
  line-height: 28px;
}

.bet-button {
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  color: #fff;
  padding: 48px 40px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 26.4px;
  z-index: 2;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  margin: 181px 50px 0;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  text-transform: uppercase;
  margin: 100px 0;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-paragraph {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 180px;
  padding: 0 50px 90px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
  white-space: nowrap;
  min-width: max-content;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}